.content{
    padding: .5rem 1.5rem;
    margin: 0;
}

h1{
    text-transform: uppercase;
}

.task {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.task img{
    width: 30px;
    height: 30px;
}

.task p{
    font-size: 1.4rem;
    text-transform: capitalize;
}

.task:hover{
    background-color: #6b21a8;
}